In [1]:
# sample()

In [2]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
s.sample(n=3)

1    2
2    3
0    1
dtype: int64

In [9]:
s.sample(frac=1)

4    5
1    2
0    1
2    3
3    4
dtype: int64

In [15]:
s.sample(n=6, replace=True)

3    4
2    3
0    1
3    4
2    3
1    2
dtype: int64

In [35]:
s.sample(n=6,
         replace=True,
         weights=[10,20,0,0.2,0.8],
         random_state=12
         )

0    1
1    2
0    1
1    2
0    1
1    2
dtype: int64

In [36]:
df = pd.DataFrame(
    np.random.randint(10, size=(3,3)),
    columns=list('ABC')
)
df

   A  B  C
0  7  2  6
1  8  2  5
2  1  8  1

In [40]:
df.sample(2)

   A  B  C
2  1  8  1
1  8  2  5

In [45]:
df.sample(2, axis=1)

   A  C
0  7  6
1  8  5
2  1  1