#### DataFrame.melt: 逆透视(unpivot), 宽格式(wide) 转 长格式(long)

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame([
    ['a', 1, 2],
    ['b', 3, 4],
    ['c', 5, 6]
], columns=['A', 'B', 'C'])
df

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [5]:
df.melt()

  variable value
0        A     a
1        A     b
2        A     c
3        B     1
4        B     3
5        B     5
6        C     2
7        C     4
8        C     6

In [6]:
df.melt(ignore_index=False)

  variable value
0        A     a
1        A     b
2        A     c
0        B     1
1        B     3
2        B     5
0        C     2
1        C     4
2        C     6

In [7]:
df.melt(value_vars='A')

  variable value
0        A     a
1        A     b
2        A     c

In [8]:
df.melt(value_vars='B')

  variable  value
0        B      1
1        B      3
2        B      5

In [9]:
df.melt(value_vars=['B', 'C'])

  variable  value
0        B      1
1        B      3
2        B      5
3        C      2
4        C      4
5        C      6

In [10]:
df.melt(
    id_vars='A',
    value_vars=['B', 'C'])

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5
3  a        C      2
4  b        C      4
5  c        C      6

In [12]:
df.melt(
    id_vars='A',
    value_vars=['B', 'C'],
    var_name='XXX',
    value_name='YYY'
)

   A XXX  YYY
0  a   B    1
1  b   B    3
2  c   B    5
3  a   C    2
4  b   C    4
5  c   C    6