In [1]:
import pandas as pd

In [2]:
data = [
    ['i','o',1],
    ['i','p',2],
    ['k','q',3],
]

In [3]:
df = pd.DataFrame(
    data,
    columns=['A', 'B', 'C']
)
df

   A  B  C
0  i  o  1
1  i  p  2
2  k  q  3

In [4]:
df.set_index('A')
df

   A  B  C
0  i  o  1
1  i  p  2
2  k  q  3

In [5]:
df.set_index(['A', 'B'])

     C
A B
i o  1
  p  2
k q  3

In [6]:
df.set_index('A', drop=False)

   A  B  C
A
i  i  o  1
i  i  p  2
k  k  q  3

In [7]:
df.set_index('A', append=True)

     B  C
  A
0 i  o  1
1 i  p  2
2 k  q  3

In [8]:
# df.set_index('A', inplace=True)
# df

In [9]:
df.set_index('A', verify_integrity=True)

ValueError: Index has duplicate keys: Index(['i'], dtype='object', name='A')