In [43]:
import pandas as pd

In [44]:
data = [
    ['i','o',1],
    ['i','p',2],
    ['k','q',3],
]

In [45]:
df = pd.DataFrame(
    data,
    columns=['A', 'B', 'C']
)
df

   A  B  C
0  i  o  1
1  i  p  2
2  k  q  3

In [46]:
df.set_index('A')
df

   A  B  C
0  i  o  1
1  i  p  2
2  k  q  3

In [47]:
df.set_index(['A', 'B'])

     C
A B
i o  1
  p  2
k q  3

In [48]:
df.set_index('A', drop=False)

   A  B  C
A
i  i  o  1
i  i  p  2
k  k  q  3

In [49]:
df.set_index('A', append=True)

     B  C
  A
0 i  o  1
1 i  p  2
2 k  q  3

In [50]:
# df.set_index('A', inplace=True)
# df

In [51]:
df.set_index('A', verify_integrity=True)

ValueError: Index has duplicate keys: Index(['i'], dtype='object', name='A')