In [3]:
import pandas as pd
import numpy as np
pd.options.mode.use_inf_as_na = True  # 警告

C:\Users\Administrator\AppData\Local\Temp\ipykernel_16180\3812242205.py:3: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  pd.options.mode.use_inf_as_na = True  # 警告

In [4]:
df = pd.DataFrame([
    [1, 2],
    [1, np.nan],  # NaN 报错
    [np.nan, 1],  # NaN 报错
], columns=['A', 'B'])
df

     A    B
0  1.0  2.0
1  1.0  NaN
2  NaN  1.0

In [5]:
df['A'] + df['B']

0    3.0
1    NaN
2    NaN
dtype: float64

In [6]:
df['A'] - df['B']

0   -1.0
1    NaN
2    NaN
dtype: float64

In [7]:
df['A'] * df['B']

0    2.0
1    NaN
2    NaN
dtype: float64

In [8]:
df['A'] / df['B']

0    0.5
1    NaN
2    NaN
dtype: float64

In [9]:
df['A'].fillna(0) + df['B'].fillna(0)

0    3.0
1    1.0
2    1.0
dtype: float64

In [10]:
df['A'].add(df['B'],
            fill_value=0)

0    3.0
1    1.0
2    1.0
dtype: float64

In [11]:
df['A'].sub(df['B'],
            fill_value=0)

0   -1.0
1    1.0
2   -1.0
dtype: float64

In [12]:
df['A'].mul(df['B'],
            fill_value=0)

0    2.0
1    0.0
2    0.0
dtype: float64

In [13]:
df['A'].div(df['B'],
            fill_value=0)

0    0.5
1    NaN
2    0.0
dtype: float64

In [14]:
df = pd.DataFrame([
    [1, 0],
    [-1, 0],
    [0, 0],
], columns=['A', 'B'])
df

   A  B
0  1  0
1 -1  0
2  0  0

In [15]:
s = df['A'].div(df['B'])
s

0   NaN
1   NaN
2   NaN
dtype: float64

In [16]:
s == -np.inf

0    False
1    False
2    False
dtype: bool

In [17]:
df['A'].div(df['B'])

0   NaN
1   NaN
2   NaN
dtype: float64