In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(
    '2019销售总表.xlsx',
    usecols=['货号', '平台']
).sample(12)
df

             货号   平台
2791   AXTB3200  平台A
16314  QTVW5600  平台B
12035  VBOY1800  平台B
6086   XDQV5600  平台A
4735   AGDH5500  平台A
1945   XHQA3700  平台A
7339   PWDK9200  平台A
16995  QTVW5600  平台B
33     UQNA9200  平台A
1699   AGDH5500  平台A
8053   AXTB3200  平台A
7372   FLHR1800  平台A

In [3]:
df.sort_values(['货号', '平台'])

             货号   平台
4735   AGDH5500  平台A
1699   AGDH5500  平台A
2791   AXTB3200  平台A
8053   AXTB3200  平台A
7372   FLHR1800  平台A
7339   PWDK9200  平台A
16314  QTVW5600  平台B
16995  QTVW5600  平台B
33     UQNA9200  平台A
12035  VBOY1800  平台B
6086   XDQV5600  平台A
1945   XHQA3700  平台A

In [4]:
df.sort_values(['货号', '平台'],
               ascending=[True, False])

             货号   平台
4735   AGDH5500  平台A
1699   AGDH5500  平台A
2791   AXTB3200  平台A
8053   AXTB3200  平台A
7372   FLHR1800  平台A
7339   PWDK9200  平台A
16314  QTVW5600  平台B
16995  QTVW5600  平台B
33     UQNA9200  平台A
12035  VBOY1800  平台B
6086   XDQV5600  平台A
1945   XHQA3700  平台A