In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(
    '2019销售总表.xlsx',
    usecols=['货号', '平台']
).sample(12)
df

             货号   平台
15855  VBOY1800  平台B
16381  XDQV5600  平台B
10242  AGDH5500  平台B
10540  QTVW5600  平台B
16311  VBOY1800  平台B
10225  QTVW5600  平台B
16607  LCHM9800  平台B
1077   XHQA3700  平台A
4794   AGDH5500  平台A
10596  AXTB3200  平台B
5396   XHQA3700  平台A
879    AXTB3200  平台A

In [3]:
df.sort_values(['货号', '平台'])

             货号   平台
4794   AGDH5500  平台A
10242  AGDH5500  平台B
879    AXTB3200  平台A
10596  AXTB3200  平台B
16607  LCHM9800  平台B
10540  QTVW5600  平台B
10225  QTVW5600  平台B
15855  VBOY1800  平台B
16311  VBOY1800  平台B
16381  XDQV5600  平台B
1077   XHQA3700  平台A
5396   XHQA3700  平台A

In [4]:
df.sort_values(['货号', '平台'],
               ascending=[True, False])

             货号   平台
10242  AGDH5500  平台B
4794   AGDH5500  平台A
10596  AXTB3200  平台B
879    AXTB3200  平台A
16607  LCHM9800  平台B
10540  QTVW5600  平台B
10225  QTVW5600  平台B
15855  VBOY1800  平台B
16311  VBOY1800  平台B
16381  XDQV5600  平台B
1077   XHQA3700  平台A
5396   XHQA3700  平台A