In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'A': [1, 2],
}, index=['x', 'y'])
df

   A
x  1
y  2

In [3]:
s = pd.Series(
    [10, 20],
    index=['x', 'y'],
    name='B'
)
s

x    10
y    20
Name: B, dtype: int64

In [4]:
df.join(s)

   A   B
x  1  10
y  2  20

In [5]:
df0 = pd.read_excel(
    'join.xlsx',
    index_col=0,
    sheet_name=0
)
df0

     销量
货号
bbb   2
aaa   1

In [6]:
df1 = pd.read_excel(
    'join.xlsx',
    index_col=0,
    sheet_name=1
)
df1

     成本
货号
aaa  10
bbb  20

In [7]:
df0.join(df1)

     销量  成本
货号
bbb   2  20
aaa   1  10

In [8]:
df0.join(df1, sort=True)

     销量  成本
货号
aaa   1  10
bbb   2  20

In [9]:

df0 = pd.read_excel(
    'join.xlsx',
    sheet_name=0
)
df0

    货号  销量
0  bbb   2
1  aaa   1

In [10]:
df1 = pd.read_excel(
    'join.xlsx',
    sheet_name=1
)
df1

    货号  成本
0  aaa  10
1  bbb  20

In [11]:
df0.join(
    df1,
    lsuffix='_l',
    rsuffix='_r',
)

  货号_l  销量 货号_r  成本
0  bbb   2  aaa  10
1  aaa   1  bbb  20

In [12]:

df0 = pd.read_excel(
    'join.xlsx',
    index_col=0,
    sheet_name=0
)
df0

     销量
货号
bbb   2
aaa   1

In [13]:
df2 = pd.read_excel(
    'join.xlsx',
    index_col=0,
    sheet_name=2
)
df2

      库存
货号
bbb  200
ccc  300

In [14]:
df0.join(df2)

     销量     库存
货号
bbb   2  200.0
aaa   1    NaN

In [15]:
df0.join(df2, how='left')

     销量     库存
货号
bbb   2  200.0
aaa   1    NaN

In [16]:
df0.join(df2, how='outer')

      销量     库存
货号
aaa  1.0    NaN
bbb  2.0  200.0
ccc  NaN  300.0

In [17]:
df0.join(df2, how='right')

      销量   库存
货号
bbb  2.0  200
ccc  NaN  300

In [18]:
df0.join(df2, how='inner')

     销量   库存
货号
bbb   2  200

In [19]:
df0

     销量
货号
bbb   2
aaa   1

In [20]:
df1 = df1.set_index('货号')
df1

     成本
货号
aaa  10
bbb  20

In [21]:
df2

      库存
货号
bbb  200
ccc  300

In [22]:
df0.join([df1, df2])

      销量    成本     库存
货号
bbb  2.0  20.0  200.0
aaa  1.0  10.0    NaN

In [23]:
df0.join([df1, df2], how='outer')

      销量    成本     库存
货号
bbb  2.0  20.0  200.0
aaa  1.0  10.0    NaN
ccc  NaN   NaN  300.0