In [2]:
import pandas as pd
import numpy as np

In [3]:
data = np.random.randint(10, size=(3, 3))
data

array([[6, 5, 3],
       [6, 3, 8],
       [1, 3, 2]])

In [4]:
df = pd.DataFrame(
    data,
    index=['Y', 'Z', 'X'],
    columns=['B', 'C', 'A']
)
df

   B  C  A
Y  6  5  3
Z  6  3  8
X  1  3  2

In [5]:
df.sort_index()

   B  C  A
X  1  3  2
Y  6  5  3
Z  6  3  8

In [6]:
df.sort_index(ascending=False)

   B  C  A
Z  6  3  8
Y  6  5  3
X  1  3  2

In [7]:
df.sort_index(axis=1)

   A  B  C
Y  3  6  5
Z  8  6  3
X  2  1  3

In [8]:
df.sort_values('A')

   B  C  A
X  1  3  2
Y  6  5  3
Z  6  3  8

In [9]:
df.sort_values('A', ascending=False)

   B  C  A
Z  6  3  8
Y  6  5  3
X  1  3  2

In [10]:
df.sort_values('X', axis=1)

   B  A  C
Y  6  3  5
Z  6  8  3
X  1  2  3