In [1]:
# duplicated()
# drop_duplicates()

In [2]:
import pandas as pd

In [3]:
s = pd.Series([1, 2, 3, 2, 3, 3])
s

0    1
1    2
2    3
3    2
4    3
5    3
dtype: int64

In [4]:
s.duplicated(keep='first')

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [5]:
s.drop_duplicates(keep='first')

0    1
1    2
2    3
dtype: int64

In [6]:
s.duplicated(keep='last')

0    False
1     True
2     True
3    False
4     True
5    False
dtype: bool

In [7]:
s.drop_duplicates(keep='last')

0    1
3    2
5    3
dtype: int64

In [8]:
s.duplicated(keep=False)

0    False
1     True
2     True
3     True
4     True
5     True
dtype: bool

In [9]:
s.drop_duplicates(keep=False)

0    1
dtype: int64

In [10]:
df = pd.DataFrame(
    {
        'A': [1, 2, 2, 2, 3],
        'B': [4, 5, 6, 6, 6],
    }
)
df

   A  B
0  1  4
1  2  5
2  2  6
3  2  6
4  3  6

In [11]:
df.duplicated(subset='A')

0    False
1    False
2     True
3     True
4    False
dtype: bool

In [12]:
df.duplicated(subset='B')

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [13]:
df.duplicated(subset=['A', 'B'])

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [14]:
df.drop_duplicates(subset=['A', 'B'])

   A  B
0  1  4
1  2  5
2  2  6
4  3  6

In [15]:
df.drop_duplicates(
    subset=['A', 'B'],
    keep='last'
)

   A  B
0  1  4
1  2  5
3  2  6
4  3  6

In [16]:
df.drop_duplicates(
    subset=['A', 'B'],
    keep=False
)

   A  B
0  1  4
1  2  5
4  3  6

In [17]:
df.drop_duplicates(
    subset=['A', 'B'],
    keep=False,
    ignore_index=True
)

   A  B
0  1  4
1  2  5
2  3  6

In [18]:
df.drop_duplicates()

   A  B
0  1  4
1  2  5
2  2  6
4  3  6