In [50]:
# Python Pandas 学习群: 366719470
# Ask And Answer
# AAA003: 现有的尺码
# S:     1    1
# M:    10    2
# L:   100    4
# XL: 1000    8

In [51]:
import pandas as pd

In [52]:
df = pd.read_excel('AAA003.xlsx')
df

    货号       下单时间  下单尺码
0  AAA 2020-10-01   M/L
1  AAA 2020-10-02  L/XL
2  BBB 2020-10-03     S
3  BBB 2020-10-04     M

In [53]:
df = df.sort_values(['货号', '下单时间'])
df

    货号       下单时间  下单尺码
0  AAA 2020-10-01   M/L
1  AAA 2020-10-02  L/XL
2  BBB 2020-10-03     S
3  BBB 2020-10-04     M

In [54]:
# d = {'S': 1, 'M': 2, 'L': 4, 'XL': 8, 'XXL': 16}
all_size = ['S', 'M', 'L', 'XL', 'XXL']
d = {}
for index, size_lable in enumerate(all_size):
    d[size_lable] = 2 ** index
def size_to_number(sizes):
    number = 0
    for size in sizes.split('/'):
        number = number | d[size]
    return number

df['尺码数字'] = df['下单尺码'].apply(size_to_number)
df

    货号       下单时间  下单尺码  尺码数字
0  AAA 2020-10-01   M/L     6
1  AAA 2020-10-02  L/XL    12
2  BBB 2020-10-03     S     1
3  BBB 2020-10-04     M     2

In [55]:
def bit_and(s):
    number = 0
    for value in s:
        number = number | int(value)
    return number
# df.groupby('货号', sort=False)['尺码数字'].expanding(1).apply(bit_and).astype(int)
df['现有尺码数字'] = df.groupby('货号', sort=False)['尺码数字'].expanding(1).apply(bit_and).astype(int).values
df

    货号       下单时间  下单尺码  尺码数字  现有尺码数字
0  AAA 2020-10-01   M/L     6       6
1  AAA 2020-10-02  L/XL    12      14
2  BBB 2020-10-03     S     1       1
3  BBB 2020-10-04     M     2       3

In [56]:
# XL L M S
# 1  1 1 1 
def number_to_sizes(number):
    sizes_bit = list(bin(number)[2:].rjust(len(d), '0'))[::-1]
    # sizes_lable = ['S', 'M', 'L', 'XL']
    sizes_lable = d.keys()
    exist_sizes_list = []
    for bit, lable in zip(sizes_bit, sizes_lable):
        if bit == '1':
            exist_sizes_list.append(lable)
    exist_sizes_str = '/'.join(exist_sizes_list)
    return exist_sizes_str
df['现有尺码'] = df['现有尺码数字'].apply(number_to_sizes)
df

    货号       下单时间  下单尺码  尺码数字  现有尺码数字    现有尺码
0  AAA 2020-10-01   M/L     6       6     M/L
1  AAA 2020-10-02  L/XL    12      14  M/L/XL
2  BBB 2020-10-03     S     1       1       S
3  BBB 2020-10-04     M     2       3     S/M

In [57]:
df = df.drop(['尺码数字', '现有尺码数字'], axis=1)
df

    货号       下单时间  下单尺码    现有尺码
0  AAA 2020-10-01   M/L     M/L
1  AAA 2020-10-02  L/XL  M/L/XL
2  BBB 2020-10-03     S       S
3  BBB 2020-10-04     M     S/M