In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('AAA004.xlsx')
df

                   时间   数据
0 2020-06-13 16:25:00  100
1 2020-06-13 16:47:00  200
2 2020-06-13 16:49:00  300
3 2020-06-13 17:09:00  100
4 2020-06-13 17:22:00  200
5 2020-06-13 20:49:00  300

In [4]:
df['时间'] = df['时间'].apply(
    lambda x: x.replace(minute=0, second=0))
df

                   时间   数据
0 2020-06-13 16:00:00  100
1 2020-06-13 16:00:00  200
2 2020-06-13 16:00:00  300
3 2020-06-13 17:00:00  100
4 2020-06-13 17:00:00  200
5 2020-06-13 20:00:00  300

In [5]:
df = df.groupby('时间').mean()
df

                      数据
时间
2020-06-13 16:00:00  200
2020-06-13 17:00:00  150
2020-06-13 20:00:00  300

In [6]:
index = pd.date_range(
    start=df.index.min(),
    end=df.index.max(),
    freq='H',
    name='时间'
)
index

DatetimeIndex(['2020-06-13 16:00:00', '2020-06-13 17:00:00',
               '2020-06-13 18:00:00', '2020-06-13 19:00:00',
               '2020-06-13 20:00:00'],
              dtype='datetime64[ns]', name='时间', freq='H')

In [7]:
df = df.reindex(index)
df

                        数据
时间
2020-06-13 16:00:00  200.0
2020-06-13 17:00:00  150.0
2020-06-13 18:00:00    NaN
2020-06-13 19:00:00    NaN
2020-06-13 20:00:00  300.0

In [8]:
df = df.fillna(method='ffill')
df

                        数据
时间
2020-06-13 16:00:00  200.0
2020-06-13 17:00:00  150.0
2020-06-13 18:00:00  150.0
2020-06-13 19:00:00  150.0
2020-06-13 20:00:00  300.0

In [9]:
df.reset_index()

                   时间     数据
0 2020-06-13 16:00:00  200.0
1 2020-06-13 17:00:00  150.0
2 2020-06-13 18:00:00  150.0
3 2020-06-13 19:00:00  150.0
4 2020-06-13 20:00:00  300.0

In [10]:
df = pd.read_excel('AAA004.xlsx')
df

                   时间   数据
0 2020-06-13 16:25:00  100
1 2020-06-13 16:47:00  200
2 2020-06-13 16:49:00  300
3 2020-06-13 17:09:00  100
4 2020-06-13 17:22:00  200
5 2020-06-13 20:49:00  300

In [15]:
df.resample('H', on='时间').mean().fillna(method='ffill').reset_index()

                   时间     数据
0 2020-06-13 16:00:00  200.0
1 2020-06-13 17:00:00  150.0
2 2020-06-13 18:00:00  150.0
3 2020-06-13 19:00:00  150.0
4 2020-06-13 20:00:00  300.0