In [12]:
# Ask And Answer (Python Pandas学习群: 366719470) 
# AAA002: 一行拆分成多行

In [13]:
import pandas as pd

In [14]:
df = pd.read_excel('AAA002.xlsx')
df

   A  B        C
0  5  7  aaa!bbb
1  6  8  ccc!ddd

In [15]:
df = df.join(df['C'].str.split('!', expand=True))
df

   A  B        C    0    1
0  5  7  aaa!bbb  aaa  bbb
1  6  8  ccc!ddd  ccc  ddd

In [18]:
# 宽格式 转 长格式
df1 = df.melt(
    id_vars=['A', 'B'],
    value_vars=[0, 1],
    value_name='新列名'
)
del df1['variable']
df1

   A  B  新列名
0  5  7  aaa
1  6  8  ccc
2  5  7  bbb
3  6  8  ddd