## Python Pandas Excel 学习群: 366719470
## Ask And Answer 问答
## AAA006 数字列百分比(%)格式输出

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame([
    [100, 0.12314],
    [200, 0.15315],
    [300, 0.28216],
], columns=['售价', '利润率'])
df

    售价      利润率
0  100  0.12314
1  200  0.15315
2  300  0.28216

In [9]:
df.dtypes

售价       int64
利润率    float64
dtype: object

In [10]:
# 1: 转化成字符串输出 (不是很好)
df['利润率'] = df['利润率'].apply(lambda x: format(x, '.2%'))
df

    售价     利润率
0  100  12.31%
1  200  15.32%
2  300  28.22%

In [11]:
df.dtypes

售价      int64
利润率    object
dtype: object

In [12]:
df.to_excel('1.xlsx', index=False)

In [17]:
# 2: 使用 xlsxwriter (pip install xlsxwriter)
df = pd.DataFrame([
    [100, 0.12314],
    [200, 0.15315],
    [300, 0.28216],
], columns=['售价', '利润率'])
writer = pd.ExcelWriter('2.xlsx', engine='xlsxwriter')
df.to_excel(writer, sheet_name='sheet1', index=False)

In [18]:
workbook = writer.book
fmt = workbook.add_format({'num_format': '0.0%'})

worksheet = workbook.sheetnames['sheet1']
worksheet.set_column('B:B', cell_format=fmt)



writer.save()