In [1]:
# Python Pandas 学习群: 366719470
# Ask And Answer 问答
# AAA003: 现有的尺码
# S:     1   1   2**0
# M:    10   2   2**1
# L:   100   4   2**2
# XL: 1000   8   2**3

In [10]:
import pandas as pd

In [3]:
df = pd.read_excel('AAA003.xlsx')
df

    货号       下单时间  下单尺码
0  AAA 2020-10-01   M/L
1  AAA 2020-10-02  L/XL
2  BBB 2020-10-03     S
3  BBB 2020-10-04     M
4  AAA 2020-09-02     S

In [4]:
df = df.sort_values(['货号', '下单时间'])
df

    货号       下单时间  下单尺码
4  AAA 2020-09-02     S
0  AAA 2020-10-01   M/L
1  AAA 2020-10-02  L/XL
2  BBB 2020-10-03     S
3  BBB 2020-10-04     M

In [5]:
all_size = ['S', 'M', 'L', 'XL']
d = {}
for index, size in enumerate(all_size):
    d[size] = 2 ** index
d

{'S': 1, 'M': 2, 'L': 4, 'XL': 8}

In [6]:
def size_to_number(sizes):
    number = 0
    for size in sizes.split('/'):
        number = number | d[size]
    return number
df['尺码数字'] = df['下单尺码'].apply(size_to_number)
df

    货号       下单时间  下单尺码  尺码数字
4  AAA 2020-09-02     S     1
0  AAA 2020-10-01   M/L     6
1  AAA 2020-10-02  L/XL    12
2  BBB 2020-10-03     S     1
3  BBB 2020-10-04     M     2

In [7]:
# 
def bit_and(s):
    number = 0
    for value in s.values:
        number = number | int(value)
    return number
df['现有尺码数字'] = df.groupby('货号', sort=False)['尺码数字'].expanding(1).apply(bit_and).astype(int).values
df

    货号       下单时间  下单尺码  尺码数字  现有尺码数字
4  AAA 2020-09-02     S     1       1
0  AAA 2020-10-01   M/L     6       7
1  AAA 2020-10-02  L/XL    12      15
2  BBB 2020-10-03     S     1       1
3  BBB 2020-10-04     M     2       3

In [8]:
def number_to_size(number):
    size_bit = list(bin(number)[2:].rjust(len(all_size), '0'))[::-1]
    l = []
    # all_size = ['S', 'M', 'L', 'XL']
    for bit, lable in zip(size_bit, all_size):
        if bit == '1':
            l.append(lable)
    return '/'.join(l)
df['现有尺码'] = df['现有尺码数字'].apply(number_to_size)
df

    货号       下单时间  下单尺码  尺码数字  现有尺码数字      现有尺码
4  AAA 2020-09-02     S     1       1         S
0  AAA 2020-10-01   M/L     6       7     S/M/L
1  AAA 2020-10-02  L/XL    12      15  S/M/L/XL
2  BBB 2020-10-03     S     1       1         S
3  BBB 2020-10-04     M     2       3       S/M

In [9]:
df = df.drop(['尺码数字', '现有尺码数字'], axis=1)
df

    货号       下单时间  下单尺码      现有尺码
4  AAA 2020-09-02     S         S
0  AAA 2020-10-01   M/L     S/M/L
1  AAA 2020-10-02  L/XL  S/M/L/XL
2  BBB 2020-10-03     S         S
3  BBB 2020-10-04     M       S/M