#### diff() 错位相减

In [1]:
import pandas as pd

In [2]:
s = pd.Series([1, 3, 8, 5])
s

0    1
1    3
2    8
3    5
dtype: int64

In [3]:
s.diff()

0    NaN
1    2.0
2    5.0
3   -3.0
dtype: float64

In [4]:
s.diff(2)

0    NaN
1    NaN
2    7.0
3    2.0
dtype: float64

In [5]:
s.diff(-1)

0   -2.0
1   -5.0
2    3.0
3    NaN
dtype: float64

In [6]:
df = pd.DataFrame([
    [1, 3, 6],
    [5, 1, 8],
    [9, 2, 4],
])
df

   0  1  2
0  1  3  6
1  5  1  8
2  9  2  4

In [7]:
df.diff(axis=0)

     0    1    2
0  NaN  NaN  NaN
1  4.0 -2.0  2.0
2  4.0  1.0 -4.0

In [8]:
df.diff(axis=1)

    0  1  2
0 NaN  2  3
1 NaN -4  7
2 NaN -7  2

In [9]:
df.diff(-1)

     0    1    2
0 -4.0  2.0 -2.0
1 -4.0 -1.0  4.0
2  NaN  NaN  NaN