#### diff() 错位相减

In [5]:
import pandas as pd

In [6]:
s = pd.Series([1, 3, 8, 5])
s

0    1
1    3
2    8
3    5
dtype: int64

In [7]:
s.diff()

0    NaN
1    2.0
2    5.0
3   -3.0
dtype: float64

In [8]:
s.diff(2)

0    NaN
1    NaN
2    7.0
3    2.0
dtype: float64

In [9]:
s.diff(-1)

0   -2.0
1   -5.0
2    3.0
3    NaN
dtype: float64

In [10]:
df = pd.DataFrame([
    [1, 3, 6],
    [5, 1, 8],
    [9, 2, 4],
])
df

   0  1  2
0  1  3  6
1  5  1  8
2  9  2  4

In [11]:
df.diff(axis=0)

     0    1    2
0  NaN  NaN  NaN
1  4.0 -2.0  2.0
2  4.0  1.0 -4.0

In [12]:
df.diff(axis=1)

    0    1    2
0 NaN  2.0  3.0
1 NaN -4.0  7.0
2 NaN -7.0  2.0

In [14]:
df.diff(-1)

     0    1    2
0 -4.0  2.0 -2.0
1 -4.0 -1.0  4.0
2  NaN  NaN  NaN