In [5]:
# reindex_like()

In [6]:
import pandas as pd

In [7]:
df1 = pd.DataFrame(
    [[1,2,3],
     [4,5,6],
     [7,8,9]],
    columns=['A', 'B', 'C'],
    index=['X', 'Y', 'Z']
)
df1

   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9

In [8]:
df2 = pd.DataFrame(
    [[10,20,30],
     [40,50,60]],
    columns=['B', 'C', 'E'],
    index=['Y', 'Z']
)
df2

    B   C   E
Y  10  20  30
Z  40  50  60

In [9]:
df2.reindex_like(df1)

    A     B     C
X NaN   NaN   NaN
Y NaN  10.0  20.0
Z NaN  40.0  50.0