##### Series/DataFrame
##### update() 使用右边的非空值就地更新左边的值

In [20]:
import pandas as pd

In [21]:
df1 = pd.DataFrame(
    [[1,2,3],
     [4,5,6],
     [7,8,9]],
    index=list('XYZ'),
    columns=list('ABC'))
df1

   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9

In [22]:
df2 = pd.DataFrame(
    [[10,20,30],
     [40,pd.NA,60],
     [70,80,90]],
    index=list('XYO'),
    columns=list('ABF')
)
df2

    A     B   F
X  10    20  30
Y  40  <NA>  60
O  70    80  90

In [24]:
df1.update(df2)
df1

      A   B  C
X  10.0  20  3
Y  40.0   5  6
Z   7.0   8  9

In [28]:
s = pd.Series([100, 200],
              index=['Y', 'Z'],
              name='B')

In [29]:
df1.update(s)
df1

      A    B  C
X  10.0   20  3
Y  40.0  100  6
Z   7.0  200  9