In [25]:
import pandas as pd

In [26]:
df = pd.DataFrame(
    {'A': [pd.Timestamp('2020-11-01 03:04:05')]}
)
df

                    A
0 2020-11-01 03:04:05

In [27]:
df['B'] = df['A'].dt.date
df

                    A           B
0 2020-11-01 03:04:05  2020-11-01

In [28]:
df['B'] = df['A'].dt.time
df

                    A         B
0 2020-11-01 03:04:05  03:04:05

In [29]:
df['B'] = df['A'].dt.year
df

                    A     B
0 2020-11-01 03:04:05  2020

In [30]:
df['B'] = df['A'].dt.weekday
df

                    A  B
0 2020-11-01 03:04:05  6

In [31]:
df['B'] = df['A'].dt.week
df

                    A   B
0 2020-11-01 03:04:05  44

In [32]:
df['B'] = df['A'].dt.dayofyear
df

                    A    B
0 2020-11-01 03:04:05  306

In [33]:
df['B'] = df['A'].dt.quarter
df

                    A  B
0 2020-11-01 03:04:05  4

In [35]:
df['B'] = df['A'].dt.to_period(
    'S'
)
df

                    A                    B
0 2020-11-01 03:04:05  2020-11-01 03:04:05

In [36]:
df['B'] = df['A'].dt.to_pydatetime()
df

                    A                   B
0 2020-11-01 03:04:05 2020-11-01 03:04:05

In [37]:
df['B'] = df['A'].dt.strftime(
    '%Y年%m月%d日'
)
df

                    A            B
0 2020-11-01 03:04:05  2020年11月01日

In [38]:
df['B'] = df['A'].dt.round(
    'D'
)
df

                    A          B
0 2020-11-01 03:04:05 2020-11-01

In [39]:
df['B'] = df['A'].dt.month_name()
df

                    A         B
0 2020-11-01 03:04:05  November

In [40]:
df['B'] = df['A'].dt.day_name()
df

                    A       B
0 2020-11-01 03:04:05  Sunday