In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    '货号': ['A', 'A', 'B', 'B', 'B'],
    '销量': [1, 2, 3, 4, 5],
    '售价': [10,20,30,40,50]
})
df

  货号  销量  售价
0  A   1  10
1  A   2  20
2  B   3  30
3  B   4  40
4  B   5  50

In [3]:
df.groupby('货号')

In [4]:
df.groupby('货号').first()

    销量  售价
货号
A    1  10
B    3  30

In [5]:
df.groupby('货号').last()

    销量  售价
货号
A    2  20
B    5  50

In [6]:
df.groupby('货号').nth(1)

  货号  销量  售价
1  A   2  20
3  B   4  40

In [7]:
df.groupby('货号').nth([0, 1])

  货号  销量  售价
0  A   1  10
1  A   2  20
2  B   3  30
3  B   4  40

In [8]:
df.groupby('货号').size()

货号
A    2
B    3
dtype: int64

In [9]:
df.groupby('货号').count()

    销量  售价
货号
A    2   2
B    3   3

In [10]:
df.groupby('货号').describe()

      销量                                              售价                   \
   count mean       std  min   25%  50%   75%  max count  mean        std
货号
A    2.0  1.5  0.707107  1.0  1.25  1.5  1.75  2.0   2.0  15.0   7.071068
B    3.0  4.0  1.000000  3.0  3.50  4.0  4.50  5.0   3.0  40.0  10.000000


     min   25%   50%   75%   max
货号
A   10.0  12.5  15.0  17.5  20.0
B   30.0  35.0  40.0  45.0  50.0

In [11]:
df.groupby('货号').std()

          销量         售价
货号
A   0.707107   7.071068
B   1.000000  10.000000

In [12]:
df.groupby('货号').var()

     销量     售价
货号
A   0.5   50.0
B   1.0  100.0

In [13]:
df.groupby('货号').sem()

         销量        售价
货号
A   0.50000  5.000000
B   0.57735  5.773503

In [14]:
df.groupby('货号').agg('sum')

    销量   售价
货号
A    3   30
B   12  120

In [15]:
df.groupby('货号').agg(
    ['sum', 'mean'])

    销量        售价
   sum mean  sum  mean
货号
A    3  1.5   30  15.0
B   12  4.0  120  40.0

In [16]:
df.groupby('货号').agg({
    '销量': 'sum',
    '售价': 'mean'
})

    销量    售价
货号
A    3  15.0
B   12  40.0

In [17]:
df.groupby('货号',
           as_index=False).agg('sum')

  货号  销量   售价
0  A   3   30
1  B  12  120