In [54]:
# rank() 排名

In [55]:
import pandas as pd
import numpy as np

In [56]:
df = pd.DataFrame(
    {'A': [7,8,8,8,9]}
)
df

   A
0  7
1  8
2  8
3  8
4  9

In [57]:
df['B'] = df['A'].rank(method='first')
df.convert_dtypes()

   A  B
0  7  1
1  8  2
2  8  3
3  8  4
4  9  5

In [58]:
df['B'] = df['A'].rank(
    method='first',
    ascending=False
)
df.convert_dtypes()

   A  B
0  7  5
1  8  2
2  8  3
3  8  4
4  9  1

In [59]:
df['B'] = df['A'].rank(
    method='dense',
    ascending=False
)
df.convert_dtypes()

   A  B
0  7  3
1  8  2
2  8  2
3  8  2
4  9  1

In [60]:
df['B'] = df['A'].rank(
    method='dense',
    ascending=False,
    pct=True
)
df.convert_dtypes()

   A         B
0  7  1.000000
1  8  0.666667
2  8  0.666667
3  8  0.666667
4  9  0.333333

In [61]:
df = pd.DataFrame(
    {'A': [7,8,np.NaN, np.NaN]}
)
df

     A
0  7.0
1  8.0
2  NaN
3  NaN

In [62]:
df['B'] = df['A'].rank(
    method='dense',
    ascending=False,
    na_option='keep'
)
df.convert_dtypes()

      A     B
0     7     2
1     8     1
2  <NA>  <NA>
3  <NA>  <NA>

In [63]:
df['B'] = df['A'].rank(
    method='dense',
    ascending=False,
    na_option='top'
)
df.convert_dtypes()

      A  B
0     7  3
1     8  2
2  <NA>  1
3  <NA>  1

In [64]:
df['B'] = df['A'].rank(
    method='dense',
    ascending=True,
    na_option='top'
)
df.convert_dtypes()

      A  B
0     7  2
1     8  3
2  <NA>  1
3  <NA>  1

In [65]:
df['B'] = df['A'].rank(
    method='dense',
    ascending=True,
    na_option='bottom'
)
df.convert_dtypes()

      A  B
0     7  1
1     8  2
2  <NA>  3
3  <NA>  3

In [66]:
df['B'] = df['A'].rank(
    method='first',
    ascending=True,
    na_option='bottom'
)
df.convert_dtypes()

      A  B
0     7  1
1     8  2
2  <NA>  3
3  <NA>  4

In [67]:
df = pd.DataFrame(
    {'A': ['b', 'a', 'c'],
     'B': [3, 1, 2]}
)
df

   A  B
0  b  3
1  a  1
2  c  2

In [70]:
df.rank(method='dense').convert_dtypes()

   A  B
0  2  3
1  1  1
2  3  2

In [71]:
df.rank(
    method='dense',
    numeric_only=True
).convert_dtypes()

   B
0  3
1  1
2  2

In [73]:
df = pd.DataFrame(
    {'id': ['a', 'b'] * 4,
     'v': np.random.randint(
         10, size=(8,))}
)
df

  id  v
0  a  9
1  b  7
2  a  6
3  b  6
4  a  0
5  b  5
6  a  7
7  b  6

In [75]:
df['gb_rank'] = df.groupby('id')['v'].rank(method='first')
df.convert_dtypes()

  id  v  gb_rank
0  a  9        4
1  b  7        4
2  a  6        2
3  b  6        2
4  a  0        1
5  b  5        1
6  a  7        3
7  b  6        3