In [10]:
# rank() 排名

In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.DataFrame(
    {'A': [7,8,8,8,9]}
)
df

   A
0  7
1  8
2  8
3  8
4  9

In [13]:
df['B'] = df['A'].rank(method='first')
df.convert_dtypes()

   A  B
0  7  1
1  8  2
2  8  3
3  8  4
4  9  5

In [14]:
df['B'] = df['A'].rank(
    method='first',
    ascending=False
)
df.convert_dtypes()

   A  B
0  7  5
1  8  2
2  8  3
3  8  4
4  9  1

In [15]:
df['B'] = df['A'].rank(
    method='dense',
    ascending=False
)
df.convert_dtypes()

   A  B
0  7  3
1  8  2
2  8  2
3  8  2
4  9  1

In [16]:
df['B'] = df['A'].rank(
    method='dense',
    ascending=False,
    pct=True
)
df.convert_dtypes()

   A         B
0  7       1.0
1  8  0.666667
2  8  0.666667
3  8  0.666667
4  9  0.333333

In [17]:
df = pd.DataFrame(
    # {'A': [7,8,np.NaN, np.NaN]}
    {'A': [7,8,np.nan, np.nan]}
)
df

     A
0  7.0
1  8.0
2  NaN
3  NaN

In [18]:
df['B'] = df['A'].rank(
    method='dense',
    ascending=False,
    na_option='keep'
)
df.convert_dtypes()

      A     B
0     7     2
1     8     1
2  <NA>  <NA>
3  <NA>  <NA>

In [19]:
df['B'] = df['A'].rank(
    method='dense',
    ascending=False,
    na_option='top'
)
df.convert_dtypes()

      A  B
0     7  3
1     8  2
2  <NA>  1
3  <NA>  1

In [20]:
df['B'] = df['A'].rank(
    method='dense',
    ascending=True,
    na_option='top'
)
df.convert_dtypes()

      A  B
0     7  2
1     8  3
2  <NA>  1
3  <NA>  1

In [21]:
df['B'] = df['A'].rank(
    method='dense',
    ascending=True,
    na_option='bottom'
)
df.convert_dtypes()

      A  B
0     7  1
1     8  2
2  <NA>  3
3  <NA>  3

In [22]:
df['B'] = df['A'].rank(
    method='first',
    ascending=True,
    na_option='bottom'
)
df.convert_dtypes()

      A  B
0     7  1
1     8  2
2  <NA>  3
3  <NA>  4

In [23]:
df = pd.DataFrame(
    {'A': ['b', 'a', 'c'],
     'B': [3, 1, 2]}
)
df

   A  B
0  b  3
1  a  1
2  c  2

In [24]:
df.rank(method='dense').convert_dtypes()

   A  B
0  2  3
1  1  1
2  3  2

In [25]:
df.rank(
    method='dense',
    numeric_only=True
).convert_dtypes()

   B
0  3
1  1
2  2

In [26]:
df = pd.DataFrame(
    {'id': ['a', 'b'] * 4,
     'v': np.random.randint(
         10, size=(8,))}
)
df

  id  v
0  a  8
1  b  9
2  a  3
3  b  1
4  a  3
5  b  9
6  a  5
7  b  9

In [27]:
df['gb_rank'] = df.groupby('id')['v'].rank(method='first')
df.convert_dtypes()

  id  v  gb_rank
0  a  8        4
1  b  9        2
2  a  3        1
3  b  1        1
4  a  3        2
5  b  9        3
6  a  5        3
7  b  9        4