In [67]:
import pandas as pd

In [68]:
df1 = pd.DataFrame(
    [[1, 2],
     [3, 4]],
    columns=['B', 'A'],
    index=['x', 'y']
)
df1

   B  A
x  1  2
y  3  4

In [69]:
s = pd.Series(
    [5, 6],
    index=['B', 'A'],
    name='z')
s

B    5
A    6
Name: z, dtype: int64

In [70]:
df1.append(s)

   B  A
x  1  2
y  3  4
z  5  6

In [71]:
df2 = pd.DataFrame(
    [[5, 6]],
    columns=['B', 'C'],
    index=['z']
)

In [72]:
df1

   B  A
x  1  2
y  3  4

In [73]:
df2

   B  C
z  5  6

In [74]:
df1.append(df2)

   B    A    C
x  1  2.0  NaN
y  3  4.0  NaN
z  5  NaN  6.0

In [75]:
df1.append([df2, df1])

   B    A    C
x  1  2.0  NaN
y  3  4.0  NaN
z  5  NaN  6.0
x  1  2.0  NaN
y  3  4.0  NaN

In [76]:
df1.append(df2, sort=True)

     A  B    C
x  2.0  1  NaN
y  4.0  3  NaN
z  NaN  5  6.0

In [77]:
# df1.append(
#     df1,
#     verify_integrity=True)

In [78]:
df1.append(
    df1,
    ignore_index=True)

   B  A
0  1  2
1  3  4
2  1  2
3  3  4

In [79]:
df1

   B  A
x  1  2
y  3  4

In [80]:
df1.append({'A': 5, 'B': 6},
           ignore_index=True)

   B  A
0  1  2
1  3  4
2  6  5