In [25]:
import pandas as pd

In [26]:
df1 = pd.read_excel(
    'on_index.xlsx',
    index_col=[0]
)
df1

     销量
货号
aaa   2
bbb   3

In [27]:
df2 = pd.read_excel(
    'on_index.xlsx',
    sheet_name=1,
    index_col=[0]
)
df2

     库存
货号
aaa  10
bbb  20
ccc  30

In [28]:
pd.merge(df1, df2,
         left_index=True,
         right_index=True,
         how='outer')

      销量  库存
货号
aaa  2.0  10
bbb  3.0  20
ccc  NaN  30

In [29]:
df1.join(df2, how='outer')

      销量  库存
货号
aaa  2.0  10
bbb  3.0  20
ccc  NaN  30

In [30]:
df3 = pd.read_excel(
    'on_list.xlsx'
)
df3

     年份  月份  总销量
0  2019   1   10
1  2019   2   20
2  2020   1   30
3  2020   2   40

In [31]:
df4 = pd.read_excel(
    'on_list.xlsx',
    sheet_name=1
)
df4

     年份  月份  总收入
0  2020   1  300
1  2020   2  400
2  2019   1  100
3  2019   2  200

In [32]:
pd.merge(df3, df4,
         on=['年份', '月份'])

     年份  月份  总销量  总收入
0  2019   1   10  100
1  2019   2   20  200
2  2020   1   30  300
3  2020   2   40  400