In [33]:
# cut() 将值分类到离散间隔

In [34]:
import pandas as pd

In [35]:
df = pd.DataFrame(
    {'成绩': [30, 60, 70, 100, 0, 96]}
)
df

    成绩
0   30
1   60
2   70
3  100
4    0
5   96

In [36]:
df['等级'] = pd.cut(
    df['成绩'],
    bins=[0, 60, 80, 100],
    include_lowest=True
)
df

    成绩              等级
0   30  (-0.001, 60.0]
1   60  (-0.001, 60.0]
2   70    (60.0, 80.0]
3  100   (80.0, 100.0]
4    0  (-0.001, 60.0]
5   96   (80.0, 100.0]

In [37]:
df['等级'] = pd.cut(
    df['成绩'],
    bins=[0, 60, 80, 100],
    right=False
)
df

    成绩             等级
0   30    [0.0, 60.0)
1   60   [60.0, 80.0)
2   70   [60.0, 80.0)
3  100            NaN
4    0    [0.0, 60.0)
5   96  [80.0, 100.0)

In [38]:
df['等级'] = pd.cut(
    df['成绩'],
    bins=[0, 59.9, 80, 100],
    include_lowest=True,
    labels=['不及格', '及格', '优秀']
)
df

    成绩   等级
0   30  不及格
1   60   及格
2   70   及格
3  100   优秀
4    0  不及格
5   96   优秀

In [41]:
df['等级'] = pd.cut(
    df['成绩'],
    bins=3,
    labels=['差', '中等', '优秀']
)
df

    成绩  等级
0   30   差
1   60  中等
2   70  优秀
3  100  优秀
4    0   差
5   96  优秀