In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel('sales.xlsx')
df1

    货号   售价  销量
0  aaa  150   2
1  bbb  120   3

In [3]:
df2 = pd.read_excel('goods_base.xlsx')
df2

    货号   名称   成本
0  aaa  家居服  100
1  bbb  牛仔裤   80

In [4]:
pd.merge(df1, df2,
         on='货号',
         how='left',
         validate='m:1')

    货号   售价  销量   名称   成本
0  aaa  150   2  家居服  100
1  bbb  120   3  牛仔裤   80