In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([1, 2], name='A')
s1

0    1
1    2
Name: A, dtype: int64

In [3]:
s2 = pd.Series([1, 2], name='B')
s2

0    1
1    2
Name: B, dtype: int64

In [4]:
pd.concat([s1, s2])

0    1
1    2
0    1
1    2
dtype: int64

In [5]:
pd.concat([s1, s2],
          ignore_index=True)

0    1
1    2
2    1
3    2
dtype: int64

In [6]:
pd.concat([s1, s2],
          axis=1)

   A  B
0  1  1
1  2  2

In [7]:
df_dict = pd.read_excel(
    'concat_0.xlsx',
    sheet_name=None
)
df_dict

{'1月':    月份   货号  销量   收入
 0   1  aaa  10  100
 1   1  bbb  10  100,
 '2月':    月份   货号  销量   收入
 0   2  aaa  20  200
 1   2  bbb  20  200,
 '3月':    月份   货号  销量   收入
 0   3  aaa  30  300
 1   3  bbb  30  300}

In [8]:
df_dict['1月']

   月份   货号  销量   收入
0   1  aaa  10  100
1   1  bbb  10  100

In [9]:
df_dict['2月']

   月份   货号  销量   收入
0   2  aaa  20  200
1   2  bbb  20  200

In [10]:
df_dict['3月']

   月份   货号  销量   收入
0   3  aaa  30  300
1   3  bbb  30  300

In [11]:
pd.concat([
   df_dict['1月'],
   df_dict['2月'],
   df_dict['3月'],
], ignore_index=True)

   月份   货号  销量   收入
0   1  aaa  10  100
1   1  bbb  10  100
2   2  aaa  20  200
3   2  bbb  20  200
4   3  aaa  30  300
5   3  bbb  30  300

In [12]:
df = pd.concat([
   df_dict['1月'],
   df_dict['2月'],
   df_dict['3月'],
], keys=['1月', '2月', '3月'])
df

      月份   货号  销量   收入
1月 0   1  aaa  10  100
   1   1  bbb  10  100
2月 0   2  aaa  20  200
   1   2  bbb  20  200
3月 0   3  aaa  30  300
   1   3  bbb  30  300

In [13]:
df.loc['2月']

   月份   货号  销量   收入
0   2  aaa  20  200
1   2  bbb  20  200

In [14]:
df1 = pd.concat(df_dict)
df1

      月份   货号  销量   收入
1月 0   1  aaa  10  100
   1   1  bbb  10  100
2月 0   2  aaa  20  200
   1   2  bbb  20  200
3月 0   3  aaa  30  300
   1   3  bbb  30  300

In [15]:
df == df1

        月份    货号    销量    收入
1月 0  True  True  True  True
   1  True  True  True  True
2月 0  True  True  True  True
   1  True  True  True  True
3月 0  True  True  True  True
   1  True  True  True  True

In [16]:
df_dict = pd.read_excel(
    'concat_1.xlsx',
    sheet_name=None,
    index_col=[0]
)
df_dict

{'销量':      销量
 货号
 bbb   2
 aaa   1,
 '成本':      成本
 货号
 aaa  10
 bbb  20,
 '库存':       库存
 货号
 bbb  200
 ccc  300}

In [17]:
df_dict['销量']

     销量
货号
bbb   2
aaa   1

In [18]:
df = pd.concat([
   df_dict['销量'],
   df_dict['成本'],
   df_dict['库存'],
], axis=1)

In [19]:
pd.concat([
   df_dict['销量'],
   df_dict['成本'],
   df_dict['库存'],
], axis=1, join='inner')

     销量  成本   库存
货号
bbb   2  20  200

In [20]:
df

      销量    成本     库存
货号
bbb  2.0  20.0  200.0
aaa  1.0  10.0    NaN
ccc  NaN   NaN  300.0

In [21]:
pd.concat([df, df['库存']],
          axis=1)

      销量    成本     库存     库存
货号
bbb  2.0  20.0  200.0  200.0
aaa  1.0  10.0    NaN    NaN
ccc  NaN   NaN  300.0  300.0

In [22]:
pd.concat([df, df['库存']], 
          axis=1,
          verify_integrity=True)

ValueError: Indexes have overlapping values: Index(['库存'], dtype='object')