In [17]:
# apply()

In [18]:
import pandas as pd
import numpy as np

In [19]:
s = pd.Series([1,2,3,4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [20]:
def f(x):
    print('***')
    print(x)
    print('***')
    return x

In [21]:
def f1(x):
    return x * 10

In [22]:
s.apply(f)

***
1
***
***
2
***
***
3
***
***
4
***

0    1
1    2
2    3
3    4
dtype: int64

In [23]:
s.apply(f1)

0    10
1    20
2    30
3    40
dtype: int64

In [24]:
s.apply('sum')

10

In [25]:
# s.apply(sum)

In [26]:
s.apply(f1, convert_dtype=False)

0    10
1    20
2    30
3    40
dtype: object

In [27]:
def f2(x, y, z):
    return x + y + z

In [29]:
s.apply(f2, args=(5, 6))

0    12
1    13
2    14
3    15
dtype: int64

In [30]:
s.apply(f2, y=5, z=6)

0    12
1    13
2    14
3    15
dtype: int64

In [31]:
df = pd.DataFrame([
    [1,2],
    [3,4],
], columns=list('AB'))
df

   A  B
0  1  2
1  3  4

In [32]:
df.apply('sum', axis=0)

A    4
B    6
dtype: int64

In [33]:
df.apply('sum', axis=1)

0    3
1    7
dtype: int64