##### Series/DataFrame/GroupBy
##### pct_change() (Percentage change) 百分比变化
 - periods: 偏移量
 - freq: 频率(时间索引)
  1. "D", "W", "M", "MS", "B"
  2. DateOffset, Timedelta
 - limit: 最多连续填充空值个数

In [20]:
import pandas as pd

In [21]:
s = pd.Series([1,2,3,4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [23]:
s.pct_change()

0         NaN
1    1.000000
2    0.500000
3    0.333333
dtype: float64

In [24]:
s.pct_change(periods=2)

0    NaN
1    NaN
2    2.0
3    1.0
dtype: float64

In [25]:
s = pd.Series([1,2,None,None,3,4])
s

0    1.0
1    2.0
2    NaN
3    NaN
4    3.0
5    4.0
dtype: float64

In [26]:
s.pct_change(limit=1)

0         NaN
1    1.000000
2    0.000000
3         NaN
4         NaN
5    0.333333
dtype: float64

In [27]:
s.pct_change(limit=2)

0         NaN
1    1.000000
2    0.000000
3    0.000000
4    0.500000
5    0.333333
dtype: float64

In [28]:
index = pd.date_range(
    '20200101',
    '20200131',
    freq='D'
)
index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20',
               '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31'],
              dtype='datetime64[ns]', freq='D')

In [29]:
df = pd.DataFrame({
    'A': range(1, len(index)+1)
}, index=index)
df

             A
2020-01-01   1
2020-01-02   2
2020-01-03   3
2020-01-04   4
2020-01-05   5
2020-01-06   6
2020-01-07   7
2020-01-08   8
2020-01-09   9
2020-01-10  10
2020-01-11  11
2020-01-12  12
2020-01-13  13
2020-01-14  14
2020-01-15  15
2020-01-16  16
2020-01-17  17
2020-01-18  18
2020-01-19  19
2020-01-20  20
2020-01-21  21
2020-01-22  22
2020-01-23  23
2020-01-24  24
2020-01-25  25
2020-01-26  26
2020-01-27  27
2020-01-28  28
2020-01-29  29
2020-01-30  30
2020-01-31  31

In [32]:
df['B'] = df['A'].pct_change(
    freq='7D'
)
df

             A         B
2020-01-01   1       NaN
2020-01-02   2       NaN
2020-01-03   3       NaN
2020-01-04   4       NaN
2020-01-05   5       NaN
2020-01-06   6       NaN
2020-01-07   7       NaN
2020-01-08   8  7.000000
2020-01-09   9  3.500000
2020-01-10  10  2.333333
2020-01-11  11  1.750000
2020-01-12  12  1.400000
2020-01-13  13  1.166667
2020-01-14  14  1.000000
2020-01-15  15  0.875000
2020-01-16  16  0.777778
2020-01-17  17  0.700000
2020-01-18  18  0.636364
2020-01-19  19  0.583333
2020-01-20  20  0.538462
2020-01-21  21  0.500000
2020-01-22  22  0.466667
2020-01-23  23  0.437500
2020-01-24  24  0.411765
2020-01-25  25  0.388889
2020-01-26  26  0.368421
2020-01-27  27  0.350000
2020-01-28  28  0.333333
2020-01-29  29  0.318182
2020-01-30  30  0.304348
2020-01-31  31  0.291667

In [33]:
df['B'] = df['A'].pct_change(
    freq='B'
)
df

             A         B
2020-01-01   1       NaN
2020-01-02   2  1.000000
2020-01-03   3  0.500000
2020-01-04   4       NaN
2020-01-05   5       NaN
2020-01-06   6  1.000000
2020-01-07   7  0.166667
2020-01-08   8  0.142857
2020-01-09   9  0.125000
2020-01-10  10  0.111111
2020-01-11  11       NaN
2020-01-12  12       NaN
2020-01-13  13  0.300000
2020-01-14  14  0.076923
2020-01-15  15  0.071429
2020-01-16  16  0.066667
2020-01-17  17  0.062500
2020-01-18  18       NaN
2020-01-19  19       NaN
2020-01-20  20  0.176471
2020-01-21  21  0.050000
2020-01-22  22  0.047619
2020-01-23  23  0.045455
2020-01-24  24  0.043478
2020-01-25  25       NaN
2020-01-26  26       NaN
2020-01-27  27  0.125000
2020-01-28  28  0.037037
2020-01-29  29  0.035714
2020-01-30  30  0.034483
2020-01-31  31  0.033333