In [16]:
import pandas as pd

In [17]:
df = pd.DataFrame(
    {'A': ['a','b','c']},
    index=['x', 'y', 'z']
)
# df.index.name = 'B'
df

   A
x  a
y  b
z  c

In [18]:
df.reset_index()

  index  A
0     x  a
1     y  b
2     z  c

In [19]:
df.reset_index(drop=True)

   A
0  a
1  b
2  c

In [20]:
df = pd.DataFrame(
    {'A': ['a','b','c']},
    index=pd.MultiIndex.from_tuples(
        [
            ('x', 1),
            ('y', 2),
            ('z', 3),
        ]
    )
)
df

     A
x 1  a
y 2  b
z 3  c

In [21]:
df.reset_index()

  level_0  level_1  A
0       x        1  a
1       y        2  b
2       z        3  c

In [22]:
df.reset_index(drop=True)

   A
0  a
1  b
2  c

In [23]:
df.reset_index(level=0)

  level_0  A
1       x  a
2       y  b
3       z  c

In [25]:
df.reset_index(level=1)

   level_1  A
x        1  a
y        2  b
z        3  c

In [26]:
df.reset_index(level=1, drop=True)

   A
x  a
y  b
z  c

In [27]:
df = pd.DataFrame(
    {
        ('A', 'B'): ['a','b','c'],
        ('A', 'C'): ['d','e','f'],
    },
    index=['x', 'y', 'z']
)
df

   A
   B  C
x  a  d
y  b  e
z  c  f

In [28]:
df.reset_index(col_level=0)

  index  A
         B  C
0     x  a  d
1     y  b  e
2     z  c  f

In [29]:
df.reset_index(col_level=1)

         A
  index  B  C
0     x  a  d
1     y  b  e
2     z  c  f

In [30]:
df.reset_index(col_level=0, col_fill='C')

  index  A
      C  B  C
0     x  a  d
1     y  b  e
2     z  c  f

In [31]:
df.reset_index(col_level=0, col_fill=None)

  index  A
  index  B  C
0     x  a  d
1     y  b  e
2     z  c  f