In [1]:
import pandas as pd
import numpy as np

In [2]:
index = pd.date_range(
    start='2019-01-01 01:02:03',
    end='2020-12-31',
    freq='12D24T36S'
)
index

DatetimeIndex(['2019-01-01 01:02:03', '2019-01-13 01:26:39',
               '2019-01-25 01:51:15', '2019-02-06 02:15:51',
               '2019-02-18 02:40:27', '2019-03-02 03:05:03',
               '2019-03-14 03:29:39', '2019-03-26 03:54:15',
               '2019-04-07 04:18:51', '2019-04-19 04:43:27',
               '2019-05-01 05:08:03', '2019-05-13 05:32:39',
               '2019-05-25 05:57:15', '2019-06-06 06:21:51',
               '2019-06-18 06:46:27', '2019-06-30 07:11:03',
               '2019-07-12 07:35:39', '2019-07-24 08:00:15',
               '2019-08-05 08:24:51', '2019-08-17 08:49:27',
               '2019-08-29 09:14:03', '2019-09-10 09:38:39',
               '2019-09-22 10:03:15', '2019-10-04 10:27:51',
               '2019-10-16 10:52:27', '2019-10-28 11:17:03',
               '2019-11-09 11:41:39', '2019-11-21 12:06:15',
               '2019-12-03 12:30:51', '2019-12-15 12:55:27',
               '2019-12-27 13:20:03', '2020-01-08 13:44:39',
               '2020-01-20 14:09:15', '2020-02-01 14:33:51',
               '2020-02-13 14:58:27', '2020-02-25 15:23:03',
               '2020-03-08 15:47:39', '2020-03-20 16:12:15',
               '2020-04-01 16:36:51', '2020-04-13 17:01:27',
               '2020-04-25 17:26:03', '2020-05-07 17:50:39',
               '2020-05-19 18:15:15', '2020-05-31 18:39:51',
               '2020-06-12 19:04:27', '2020-06-24 19:29:03',
               '2020-07-06 19:53:39', '2020-07-18 20:18:15',
               '2020-07-30 20:42:51', '2020-08-11 21:07:27',
               '2020-08-23 21:32:03', '2020-09-04 21:56:39',
               '2020-09-16 22:21:15', '2020-09-28 22:45:51',
               '2020-10-10 23:10:27', '2020-10-22 23:35:03',
               '2020-11-03 23:59:39', '2020-11-16 00:24:15',
               '2020-11-28 00:48:51', '2020-12-10 01:13:27',
               '2020-12-22 01:38:03'],
              dtype='datetime64[ns]', freq='1038276S')

In [3]:
data = np.random.randn(len(index))
data

array([ 0.15776195, -1.23183491, -0.32985875,  0.10713479, -0.44559217,
        0.60851013,  0.38443882,  0.79981419,  0.08066598, -0.422889  ,
       -0.86430695, -1.76843243, -0.51281476, -0.95158856, -0.37430806,
        0.82792511,  0.38959702, -0.95939167, -1.07524686,  1.54151341,
        0.10582614, -0.83502651, -1.17306188,  0.0663889 , -1.33725965,
        1.92341314, -0.02076757,  1.54448067,  1.81138191,  1.21893525,
       -1.03607196,  0.36768315,  0.50070829,  1.78684154, -0.08470094,
       -0.04731497,  0.83558638, -1.34241952,  1.60442713,  0.50974903,
       -0.77940634, -0.37419235, -0.01465988,  1.45332507,  0.10444449,
        1.12039965,  0.08949592, -1.24346167, -1.23100719,  1.43942662,
        2.80823392, -1.48561432, -1.4668784 , -0.41657158, -0.35133838,
        0.57218634,  0.23378623, -0.40124802,  0.57735179,  0.75325257,
        1.35946126])

In [4]:
df = pd.DataFrame(
    data, index
)
df

                            0
2019-01-01 01:02:03  0.157762
2019-01-13 01:26:39 -1.231835
2019-01-25 01:51:15 -0.329859
2019-02-06 02:15:51  0.107135
2019-02-18 02:40:27 -0.445592
...                       ...
2020-11-03 23:59:39  0.233786
2020-11-16 00:24:15 -0.401248
2020-11-28 00:48:51  0.577352
2020-12-10 01:13:27  0.753253
2020-12-22 01:38:03  1.359461

[61 rows x 1 columns]

In [5]:
df['2019']

                            0
2019-01-01 01:02:03  0.157762
2019-01-13 01:26:39 -1.231835
2019-01-25 01:51:15 -0.329859
2019-02-06 02:15:51  0.107135
2019-02-18 02:40:27 -0.445592
2019-03-02 03:05:03  0.608510
2019-03-14 03:29:39  0.384439
2019-03-26 03:54:15  0.799814
2019-04-07 04:18:51  0.080666
2019-04-19 04:43:27 -0.422889
2019-05-01 05:08:03 -0.864307
2019-05-13 05:32:39 -1.768432
2019-05-25 05:57:15 -0.512815
2019-06-06 06:21:51 -0.951589
2019-06-18 06:46:27 -0.374308
2019-06-30 07:11:03  0.827925
2019-07-12 07:35:39  0.389597
2019-07-24 08:00:15 -0.959392
2019-08-05 08:24:51 -1.075247
2019-08-17 08:49:27  1.541513
2019-08-29 09:14:03  0.105826
2019-09-10 09:38:39 -0.835027
2019-09-22 10:03:15 -1.173062
2019-10-04 10:27:51  0.066389
2019-10-16 10:52:27 -1.337260
2019-10-28 11:17:03  1.923413
2019-11-09 11:41:39 -0.020768
2019-11-21 12:06:15  1.544481
2019-12-03 12:30:51  1.811382
2019-12-15 12:55:27  1.218935
2019-12-27 13:20:03 -1.036072

In [6]:
df['2020']

                            0
2020-01-08 13:44:39  0.367683
2020-01-20 14:09:15  0.500708
2020-02-01 14:33:51  1.786842
2020-02-13 14:58:27 -0.084701
2020-02-25 15:23:03 -0.047315
2020-03-08 15:47:39  0.835586
2020-03-20 16:12:15 -1.342420
2020-04-01 16:36:51  1.604427
2020-04-13 17:01:27  0.509749
2020-04-25 17:26:03 -0.779406
2020-05-07 17:50:39 -0.374192
2020-05-19 18:15:15 -0.014660
2020-05-31 18:39:51  1.453325
2020-06-12 19:04:27  0.104444
2020-06-24 19:29:03  1.120400
2020-07-06 19:53:39  0.089496
2020-07-18 20:18:15 -1.243462
2020-07-30 20:42:51 -1.231007
2020-08-11 21:07:27  1.439427
2020-08-23 21:32:03  2.808234
2020-09-04 21:56:39 -1.485614
2020-09-16 22:21:15 -1.466878
2020-09-28 22:45:51 -0.416572
2020-10-10 23:10:27 -0.351338
2020-10-22 23:35:03  0.572186
2020-11-03 23:59:39  0.233786
2020-11-16 00:24:15 -0.401248
2020-11-28 00:48:51  0.577352
2020-12-10 01:13:27  0.753253
2020-12-22 01:38:03  1.359461

In [7]:
df['2020-05']

                            0
2020-05-07 17:50:39 -0.374192
2020-05-19 18:15:15 -0.014660
2020-05-31 18:39:51  1.453325

In [8]:
df['2020-05-07']

                            0
2020-05-07 17:50:39 -0.374192

In [10]:
df['2020-05-07 17:50:39':]

                            0
2020-05-07 17:50:39 -0.374192
2020-05-19 18:15:15 -0.014660
2020-05-31 18:39:51  1.453325
2020-06-12 19:04:27  0.104444
2020-06-24 19:29:03  1.120400
2020-07-06 19:53:39  0.089496
2020-07-18 20:18:15 -1.243462
2020-07-30 20:42:51 -1.231007
2020-08-11 21:07:27  1.439427
2020-08-23 21:32:03  2.808234
2020-09-04 21:56:39 -1.485614
2020-09-16 22:21:15 -1.466878
2020-09-28 22:45:51 -0.416572
2020-10-10 23:10:27 -0.351338
2020-10-22 23:35:03  0.572186
2020-11-03 23:59:39  0.233786
2020-11-16 00:24:15 -0.401248
2020-11-28 00:48:51  0.577352
2020-12-10 01:13:27  0.753253
2020-12-22 01:38:03  1.359461

In [13]:
df['2019-05':'2020-05-19']

                            0
2019-05-01 05:08:03 -0.864307
2019-05-13 05:32:39 -1.768432
2019-05-25 05:57:15 -0.512815
2019-06-06 06:21:51 -0.951589
2019-06-18 06:46:27 -0.374308
2019-06-30 07:11:03  0.827925
2019-07-12 07:35:39  0.389597
2019-07-24 08:00:15 -0.959392
2019-08-05 08:24:51 -1.075247
2019-08-17 08:49:27  1.541513
2019-08-29 09:14:03  0.105826
2019-09-10 09:38:39 -0.835027
2019-09-22 10:03:15 -1.173062
2019-10-04 10:27:51  0.066389
2019-10-16 10:52:27 -1.337260
2019-10-28 11:17:03  1.923413
2019-11-09 11:41:39 -0.020768
2019-11-21 12:06:15  1.544481
2019-12-03 12:30:51  1.811382
2019-12-15 12:55:27  1.218935
2019-12-27 13:20:03 -1.036072
2020-01-08 13:44:39  0.367683
2020-01-20 14:09:15  0.500708
2020-02-01 14:33:51  1.786842
2020-02-13 14:58:27 -0.084701
2020-02-25 15:23:03 -0.047315
2020-03-08 15:47:39  0.835586
2020-03-20 16:12:15 -1.342420
2020-04-01 16:36:51  1.604427
2020-04-13 17:01:27  0.509749
2020-04-25 17:26:03 -0.779406
2020-05-07 17:50:39 -0.374192
2020-05-19 18:15:15 -0.014660

In [14]:
df.columns = ['2020-05']

In [15]:
df

                      2020-05
2019-01-01 01:02:03  0.157762
2019-01-13 01:26:39 -1.231835
2019-01-25 01:51:15 -0.329859
2019-02-06 02:15:51  0.107135
2019-02-18 02:40:27 -0.445592
...                       ...
2020-11-03 23:59:39  0.233786
2020-11-16 00:24:15 -0.401248
2020-11-28 00:48:51  0.577352
2020-12-10 01:13:27  0.753253
2020-12-22 01:38:03  1.359461

[61 rows x 1 columns]

In [16]:
df['2020-05']

2019-01-01 01:02:03    0.157762
2019-01-13 01:26:39   -1.231835
2019-01-25 01:51:15   -0.329859
2019-02-06 02:15:51    0.107135
2019-02-18 02:40:27   -0.445592
                         ...
2020-11-03 23:59:39    0.233786
2020-11-16 00:24:15   -0.401248
2020-11-28 00:48:51    0.577352
2020-12-10 01:13:27    0.753253
2020-12-22 01:38:03    1.359461
Freq: 1038276S, Name: 2020-05, Length: 61, dtype: float64