In [1]:
import pandas as pd

In [2]:
index = pd.to_datetime([
    '2020-01-01',
    '2020-01-02',
    '2020-01-02',
    '2020-01-03',
    '2020-01-04',
    '2020-01-04',
    '2020-01-04',
    '2020-01-05',
])
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5, 6, 7, 8]
}, index=index)
df

            A
2020-01-01  1
2020-01-02  2
2020-01-02  3
2020-01-03  4
2020-01-04  5
2020-01-04  6
2020-01-04  7
2020-01-05  8

In [3]:
df.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-02', '2020-01-03',
               '2020-01-04', '2020-01-04', '2020-01-04', '2020-01-05'],
              dtype='datetime64[ns]', freq=None)

In [4]:
df['B'] = df['A'].rolling(
    '2D',
    # min_periods=1
).sum()
df

            A     B
2020-01-01  1   1.0
2020-01-02  2   3.0
2020-01-02  3   6.0
2020-01-03  4   9.0
2020-01-04  5   9.0
2020-01-04  6  15.0
2020-01-04  7  22.0
2020-01-05  8  26.0