In [10]:
import pandas as pd

In [11]:
df = pd.DataFrame(
    [[1,2,3],
     [4,5,6],
     [7,8,9]],
    columns=['A', 'B', 'C'],
    index=['X', 'Y', 'Z']
)
df

   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9

In [12]:
df.reindex(['Z', 'Y'])

   A  B  C
Z  7  8  9
Y  4  5  6

In [13]:
df.reindex(['Z', 'Y'], axis=0)

   A  B  C
Z  7  8  9
Y  4  5  6

In [14]:
df.reindex(index=['Z', 'Y', 'O'])

     A    B    C
Z  7.0  8.0  9.0
Y  4.0  5.0  6.0
O  NaN  NaN  NaN

In [15]:
df.reindex(['C', 'A', 'E'], axis=1)

   C  A   E
X  3  1 NaN
Y  6  4 NaN
Z  9  7 NaN

In [16]:
df.reindex(columns=['C', 'A', 'E'])

   C  A   E
X  3  1 NaN
Y  6  4 NaN
Z  9  7 NaN

In [17]:
df['A']

X    1
Y    4
Z    7
Name: A, dtype: int64

In [18]:
df['A'].reindex(['X', 'Z'])

X    1
Z    7
Name: A, dtype: int64