In [15]:
# stack() 堆叠(columns -> index)

In [16]:
import pandas as pd
import numpy as np

In [17]:
df = pd.DataFrame([
    # [np.NaN,2],  # 报错
    [np.nan,2],
    [3,4],
], columns=['A', 'B'],
   index=['X', 'Y'])
df

     A  B
X  NaN  2
Y  3.0  4

In [18]:
df.stack()

X  B    2.0
Y  A    3.0
   B    4.0
dtype: float64

In [19]:
df.stack(dropna=False)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_18512\2049356705.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df.stack(dropna=False)

X  A    NaN
   B    2.0
Y  A    3.0
   B    4.0
dtype: float64

In [20]:
df = pd.DataFrame([
    [1,2,3,4],
    [5,6,7,8],
], columns=pd.MultiIndex.from_product([
    ['A', 'B'], ['I', 'J']
]),
   index=['X', 'Y'])
df

   A     B
   I  J  I  J
X  1  2  3  4
Y  5  6  7  8

In [21]:
df.stack(level=-1)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_18512\1474725305.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df.stack(level=-1)

     A  B
X I  1  3
  J  2  4
Y I  5  7
  J  6  8

In [22]:
df.stack(level=0)

     I  J
X A  1  2
  B  3  4
Y A  5  6
  B  7  8

In [23]:
df = pd.DataFrame([
    # [np.NaN,2,np.NaN,4],  # 报错
    [np.nan,2,np.nan,4],
    [5,6,7,8],
], columns=pd.MultiIndex.from_product([
    ['A', 'B'], ['I', 'J']
]),
   index=['X', 'Y'])
df

     A       B
     I  J    I  J
X  NaN  2  NaN  4
Y  5.0  6  7.0  8

In [24]:
df.stack(dropna=False)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_18512\2049356705.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df.stack(dropna=False)

       A    B
X I  NaN  NaN
  J  2.0  4.0
Y I  5.0  7.0
  J  6.0  8.0

In [25]:
df.stack()

C:\Users\Administrator\AppData\Local\Temp\ipykernel_18512\468365423.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df.stack()

       A    B
X J  2.0  4.0
Y I  5.0  7.0
  J  6.0  8.0