In [42]:
# stack() 堆叠(columns -> index)

In [43]:
import pandas as pd
import numpy as np

In [44]:
df = pd.DataFrame([
    [np.NaN,2],
    [3,4],
], columns=['A', 'B'],
   index=['X', 'Y'])
df

     A  B
X  NaN  2
Y  3.0  4

In [45]:
df.stack()

X  B    2.0
Y  A    3.0
   B    4.0
dtype: float64

In [46]:
df.stack(dropna=False)

X  A    NaN
   B    2.0
Y  A    3.0
   B    4.0
dtype: float64

In [47]:
df = pd.DataFrame([
    [1,2,3,4],
    [5,6,7,8],
], columns=pd.MultiIndex.from_product([
    ['A', 'B'], ['I', 'J']
]),
   index=['X', 'Y'])
df

   A     B
   I  J  I  J
X  1  2  3  4
Y  5  6  7  8

In [48]:
df.stack(level=-1)

     A  B
X I  1  3
  J  2  4
Y I  5  7
  J  6  8

In [49]:
df.stack(level=0)

     I  J
X A  1  2
  B  3  4
Y A  5  6
  B  7  8

In [50]:
df = pd.DataFrame([
    [np.NaN,2,np.NaN,4],
    [5,6,7,8],
], columns=pd.MultiIndex.from_product([
    ['A', 'B'], ['I', 'J']
]),
   index=['X', 'Y'])
df

     A       B
     I  J    I  J
X  NaN  2  NaN  4
Y  5.0  6  7.0  8

In [51]:
df.stack(dropna=False)

       A    B
X I  NaN  NaN
  J  2.0  4.0
Y I  5.0  7.0
  J  6.0  8.0

In [52]:
df.stack()

       A    B
X J  2.0  4.0
Y I  5.0  7.0
  J  6.0  8.0