In [41]:
import pandas as pd

In [42]:
df = pd.DataFrame({
    '货号': ['A','B','B','A','B'],
    '平台': ['淘宝','淘宝','京东',
               '京东','淘宝'],
    '销量': [1, 2, 3, 4, 5]
})
df

  货号  平台  销量
0  A  淘宝   1
1  B  淘宝   2
2  B  京东   3
3  A  京东   4
4  B  淘宝   5

In [43]:
gb = df.groupby('货号')
gb

In [44]:
for name, group in gb:
    print(name)
    print(group)

A
  货号  平台  销量
0  A  淘宝   1
3  A  京东   4
B
  货号  平台  销量
1  B  淘宝   2
2  B  京东   3
4  B  淘宝   5

In [45]:
sgb = df.groupby('货号')['销量']
sgb

In [46]:
for name, group in sgb:
    print(name)
    print(group)

A
0    1
3    4
Name: 销量, dtype: int64
B
1    2
2    3
4    5
Name: 销量, dtype: int64

In [47]:
gb.sum()

    销量
货号
A    5
B   10

In [48]:
gb.mean()

          销量
货号
A   2.500000
B   3.333333

In [49]:
df['分组求和'] = gb['销量'].transform('sum')
df

  货号  平台  销量  分组求和
0  A  淘宝   1     5
1  B  淘宝   2    10
2  B  京东   3    10
3  A  京东   4     5
4  B  淘宝   5    10

In [50]:
df1 = gb.filter(lambda x: x['销量'].sum() > 6)
df1

   平台  销量
1  淘宝   2
2  京东   3
4  淘宝   5

In [51]:
df1.join(df['货号'])

   平台  销量 货号
1  淘宝   2  B
2  京东   3  B
4  淘宝   5  B