In [1]:
# rename() 重命名索引

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(
    [[1,2],
     [3,4]],
    columns=pd.MultiIndex.from_tuples([('A', 'A'), ('A', 'B')])
)
df

   A
   A  B
0  1  2
1  3  4

In [4]:
df.rename(columns={'A': 'AA', 'B': 'BB'})

  AA
  AA BB
0  1  2
1  3  4

In [5]:
df.rename({'A': 'AA', 'B': 'BB'}, axis=1)

  AA
  AA BB
0  1  2
1  3  4

In [6]:
df.rename({'A': 'AA', 'B': 'BB'},
          axis=1,
          level=1
          )

   A
  AA BB
0  1  2
1  3  4

In [7]:
df.rename(index={0: '00'})

    A
    A  B
00  1  2
1   3  4

In [8]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [9]:
df.rename(index=str, inplace=True)

In [10]:
df.index

Index(['0', '1'], dtype='object')