##### Series/DataFrame/GroupBy
##### shift() 偏移数据, 偏移时间索引
 - periods: 指定偏移量
 - fill_value: 填充空值
 - freq: 指定为偏移时间索引
  1. "D", "W", "M", "infer"
  2. DateOffset, BDay, Timedelta

In [16]:
import pandas as pd

In [17]:
df = pd.DataFrame([
    [1, 2],
    [3, 4],
    [5, 6],
    [7, 8],
    [9, 10]
], columns=['A', 'B'],
   index=pd.date_range('20200101', '20200105'))
df

            A   B
2020-01-01  1   2
2020-01-02  3   4
2020-01-03  5   6
2020-01-04  7   8
2020-01-05  9  10

In [18]:
df.shift()

              A    B
2020-01-01  NaN  NaN
2020-01-02  1.0  2.0
2020-01-03  3.0  4.0
2020-01-04  5.0  6.0
2020-01-05  7.0  8.0

In [19]:
df.shift(periods=2)

              A    B
2020-01-01  NaN  NaN
2020-01-02  NaN  NaN
2020-01-03  1.0  2.0
2020-01-04  3.0  4.0
2020-01-05  5.0  6.0

In [20]:
df.shift(periods=2, fill_value=100)

              A    B
2020-01-01  100  100
2020-01-02  100  100
2020-01-03    1    2
2020-01-04    3    4
2020-01-05    5    6

In [21]:
df.shift(periods=-1)

              A     B
2020-01-01  3.0   4.0
2020-01-02  5.0   6.0
2020-01-03  7.0   8.0
2020-01-04  9.0  10.0
2020-01-05  NaN   NaN

In [22]:
df.shift(periods=-1, axis=1)

             A   B
2020-01-01   2 NaN
2020-01-02   4 NaN
2020-01-03   6 NaN
2020-01-04   8 NaN
2020-01-05  10 NaN

In [23]:
df.shift(freq='D')

            A   B
2020-01-02  1   2
2020-01-03  3   4
2020-01-04  5   6
2020-01-05  7   8
2020-01-06  9  10

In [24]:
df.shift(periods=10, freq='D')

            A   B
2020-01-11  1   2
2020-01-12  3   4
2020-01-13  5   6
2020-01-14  7   8
2020-01-15  9  10

In [25]:
df.shift(freq='W')

            A   B
2020-01-05  1   2
2020-01-05  3   4
2020-01-05  5   6
2020-01-05  7   8
2020-01-12  9  10

In [26]:
# df.shift(freq='M')  # 警告
df.shift(freq='ME')

            A   B
2020-01-31  1   2
2020-01-31  3   4
2020-01-31  5   6
2020-01-31  7   8
2020-01-31  9  10

In [27]:
from pandas import DateOffset
df.shift(freq=DateOffset() * 5)

            A   B
2020-01-06  1   2
2020-01-07  3   4
2020-01-08  5   6
2020-01-09  7   8
2020-01-10  9  10

In [28]:
from pandas.tseries.offsets import BDay
df.shift(freq=BDay())

            A   B
2020-01-02  1   2
2020-01-03  3   4
2020-01-06  5   6
2020-01-06  7   8
2020-01-06  9  10

In [29]:
from pandas import Timedelta
df.shift(freq=Timedelta(days=10))

            A   B
2020-01-11  1   2
2020-01-12  3   4
2020-01-13  5   6
2020-01-14  7   8
2020-01-15  9  10