In [33]:
import pandas as pd

In [34]:
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5]
})
df

   A
0  1
1  2
2  3
3  4
4  5

In [35]:
df['B'] = df['A'].rolling(3).sum()
df

   A     B
0  1   NaN
1  2   NaN
2  3   6.0
3  4   9.0
4  5  12.0

In [36]:
df['B'] = df['A'].rolling(
    3,
    min_periods=1
).sum()
df

   A     B
0  1   1.0
1  2   3.0
2  3   6.0
3  4   9.0
4  5  12.0

In [37]:
df['B'] = df['A'].rolling(
    3,
    min_periods=1,
    center=True
).sum()
df

   A     B
0  1   3.0
1  2   6.0
2  3   9.0
3  4  12.0
4  5   9.0

In [39]:
df['C'] = df['A'].rolling(
    3,
    min_periods=1,
    center=True,
    win_type='hamming'
).mean()
df

   A     B         C
0  1   3.0  1.074074
1  2   6.0  2.000000
2  3   9.0  3.000000
3  4  12.0  4.000000
4  5   9.0  4.925926