#### DataFrame.query: 使用布尔表达式筛选行

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([
    [1, 6, 8],
    [2, 4, 3],
    [3, 2, 2]
], columns=['A', 'B', 'C C'])
df

   A  B  C C
0  1  6    8
1  2  4    3
2  3  2    2

In [3]:
df[df['B'] > df['A']]

   A  B  C C
0  1  6    8
1  2  4    3

In [4]:
df.query('B>A').query('A*2==B')

   A  B  C C
1  2  4    3

In [5]:
df.query('B>`C C`')

   A  B  C C
1  2  4    3

In [6]:
x = 5
df.query('B<@x')

   A  B  C C
1  2  4    3
2  3  2    2