In [1]:
# where()

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(
    {
        '货号': ['a', 'b', 'c', 'd'],
        '活动价': [80, 0, 90, 0],
        '原价': [120,130, 140, 150],
    }
)
df

  货号  活动价   原价
0  a   80  120
1  b    0  130
2  c   90  140
3  d    0  150

In [4]:
df['实收价'] = df['活动价'].where(
    df['活动价'] > 0,
    df['原价']
)
df

  货号  活动价   原价  实收价
0  a   80  120   80
1  b    0  130  130
2  c   90  140   90
3  d    0  150  150

In [5]:
df = pd.DataFrame(
    {
        '货号': ['a', 'b', 'c', 'd'],
        '销量': [120,130, 140, 150],
    }
)
df

  货号   销量
0  a  120
1  b  130
2  c  140
3  d  150

In [6]:
df['热销度'] = np.where(
    df['销量'] > 135,
    '畅销',
    '平销'
)
df

  货号   销量 热销度
0  a  120  平销
1  b  130  平销
2  c  140  畅销
3  d  150  畅销

In [7]:
df = pd.DataFrame(
    {
        '货号': ['a', 'b', 'c', 'd'],
        '活动价': [80, 0, 90, 0],
        '原价': [120,130, 140, 150],
    }
)
df

  货号  活动价   原价
0  a   80  120
1  b    0  130
2  c   90  140
3  d    0  150

In [8]:
df['实收价'] = np.where(
    df['活动价'] == 0,
    df['原价'],
    df['活动价']
)
df

  货号  活动价   原价  实收价
0  a   80  120   80
1  b    0  130  130
2  c   90  140   90
3  d    0  150  150