In [39]:
# unstack() 反堆叠 (index -> columns)

In [40]:
import pandas as pd

In [41]:
df = pd.DataFrame([
    [1,2],
    [3,4],
], columns=list('AB'),
   index=list('XY'))
df

   A  B
X  1  2
Y  3  4

In [42]:
df.stack()

X  A    1
   B    2
Y  A    3
   B    4
dtype: int64

In [43]:
df.stack().unstack() # ==df

   A  B
X  1  2
Y  3  4

In [44]:
df.stack().unstack(level=0)

   X  Y
A  1  3
B  2  4

In [45]:
df = pd.DataFrame([
    [1,2,3,4],
    [5,6,7,8],
], columns=pd.MultiIndex.from_product(
    [['A', 'B'], ['I', 'J']]
),
   index=list('XY'))
df

   A     B
   I  J  I  J
X  1  2  3  4
Y  5  6  7  8

In [46]:
df.stack()

     A  B
X I  1  3
  J  2  4
Y I  5  7
  J  6  8

In [47]:
df.stack().unstack()

   A     B
   I  J  I  J
X  1  2  3  4
Y  5  6  7  8

In [48]:
df.stack().unstack(level=0)

   A     B
   X  Y  X  Y
I  1  5  3  7
J  2  6  4  8