In [2]:
"""
aggfunc: aggregate function
         聚合函数
    求和:   sum, 'sum', np.sum
    求均值: 'mean', np.mean(默认)
    最大值: max, 'max', np.max
    最小值: min, 'min', np.min
    数量:   'count'
"""

"\naggfunc: aggregate function\n         聚合函数\n    求和:   sum, 'sum', np.sum\n    求均值: 'mean', np.mean(默认)\n    最大值: max, 'max', np.max\n    最小值: min, 'min', np.min\n    数量:   'count'\n"

In [3]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_excel('2019销售总表.xlsx').convert_dtypes()
df

             货号  商品名称  尺码         日期  售卖价  实收金额  销量   平台
0      YZFM1200    夹克   L 2019-09-01  208   166   2  平台A
1      FLHR1800  短袖T恤  XL 2019-09-01   73    73   1  平台A
2      LCHM9800  保暖内衣   M 2019-09-01  148   103   1  平台A
3      FLHR1800  短袖T恤   M 2019-09-01   73    51   1  平台A
4      HWLA4700  长袖T恤   M 2019-09-01   88    52   1  平台A
...         ...   ...  ..        ...  ...   ...  ..  ...
17515  FLHR1800  短袖T恤  XL 2019-06-30   73    65   1  平台B
17516  QTVW5600   羽绒服   M 2019-06-30  538   322   1  平台B
17517  QTVW5600   羽绒服  XL 2019-06-30  538   269   1  平台B
17518  LCHM9800  保暖内衣   M 2019-06-30  148   103   1  平台B
17519  HWLA4700  长袖T恤   L 2019-06-30   88    70   1  平台B

[17520 rows x 8 columns]

In [6]:
df.dtypes

货号              string
商品名称            string
尺码              string
日期      datetime64[ns]
售卖价              Int64
实收金额             Int64
销量               Int64
平台              string
dtype: object

In [8]:
pd.pivot_table(
    df,
    index='货号',
    values='销量',
    aggfunc=sum
)

            销量
货号
AGDH5500  1832
AXTB3200  1870
FLHR1800  1862
HWLA4700  1859
LCHM9800  1806
PWDK9200  1797
QTVW5600  1835
UQNA9200  1850
VBOY1800  1705
XDQV5600  1844
XHQA3700  1878
YZFM1200  1741

In [9]:
pd.pivot_table(
    df,
    index='货号',
    values='销量',
    aggfunc=[sum, 'mean']
)

           sum      mean
            销量        销量
货号
AGDH5500  1832  1.249659
AXTB3200  1870  1.250000
FLHR1800  1862  1.269257
HWLA4700  1859  1.240160
LCHM9800  1806  1.242091
PWDK9200  1797  1.224949
QTVW5600  1835  1.253415
UQNA9200  1850  1.266256
VBOY1800  1705  1.241806
XDQV5600  1844  1.250169
XHQA3700  1878  1.270636
YZFM1200  1741  1.226056

In [10]:
pd.pivot_table(
    df,
    index='货号',
    values=['销量', '实收金额'],
    aggfunc=sum
)

            实收金额    销量
货号
AGDH5500  261815  1832
AXTB3200  299665  1870
FLHR1800   80515  1862
HWLA4700   97728  1859
LCHM9800  162112  1806
PWDK9200  194394  1797
QTVW5600  599988  1835
UQNA9200  219979  1850
VBOY1800  369494  1705
XDQV5600  181813  1844
XHQA3700  659872  1878
YZFM1200  220054  1741

In [11]:
pd.pivot_table(
    df,
    index='货号',
    values=['销量', '实收金额'],
    aggfunc={
       '销量': sum,
       '实收金额': 'mean'
    }
)

                实收金额    销量
货号
AGDH5500  178.591405  1832
AXTB3200  200.310829  1870
FLHR1800   54.884117  1862
HWLA4700   65.195464  1859
LCHM9800  111.493810  1806
PWDK9200  132.511247  1797
QTVW5600  409.827869  1835
UQNA9200  150.567420  1850
VBOY1800  269.114348  1705
XDQV5600  123.263051  1844
XHQA3700  446.462788  1878
YZFM1200  154.967606  1741

In [12]:
pd.pivot_table(
    df,
    index=['货号', '尺码'],
    columns='平台',
    values='销量',
    aggfunc=sum
)

平台            平台A  平台B
货号       尺码
AGDH5500 L    239  254
         M    348  296
         S    103   78
         XL   199  169
         XXL   71   75
AXTB3200 L    266  271
         M    332  356
         S     96   68
         XL   172  164
         XXL   74   71
FLHR1800 L    291  263
         M    331  355
         S     75   71
         XL   184  149
         XXL   80   63
HWLA4700 L    242  279
         M    337  326
         S     80   91
         XL   170  168
         XXL   82   84
LCHM9800 L    258  230
         M    308  327
         S     69  109
         XL   183  168
         XXL   70   84
PWDK9200 L    245  233
         M    344  316
         S     82   82
         XL   165  147
         XXL   83  100
QTVW5600 L    261  257
         M    327  344
         S     89   70
         XL   152  176
         XXL   85   74
UQNA9200 L    252  240
         M    359  332
         S     84   78
         XL   157  169
         XXL  106   73
VBOY1800 L    205  240
         M    335  316
         S     85   76
         XL   145  144
         XXL   83   76
XDQV5600 L    226  256
         M    322  347
         S     80   96
         XL   176  175
         XXL   79   87
XHQA3700 L    263  224
         M    378  341
         S     94   95
         XL   148  169
         XXL   71   95
YZFM1200 L    249  240
         M    353  297
         S     86   56
         XL   153  161
         XXL   65   81

In [13]:
pd.pivot_table(
    df,
    index=['货号', '尺码'],
    columns=[
        '平台',
        df['日期'].dt.quarter],
    values='销量',
    aggfunc=sum
)

平台           平台A               平台B
日期             1   2    3    4   1   2    3   4
货号       尺码
AGDH5500 L    54  62   69   54  64  47   75  68
         M    65  85   99   99  77  86   61  72
         S    18  30   38   17  17  21   16  24
         XL   48  40   60   51  49  30   40  50
         XXL  18  19   17   17  18  28   14  15
AXTB3200 L    57  83   57   69  59  63   76  73
         M    78  71   92   91  89  95   86  86
         S    22  14   38   22  18  17   17  16
         XL   44  41   44   43  35  38   52  39
         XXL  26  22   15   11  11  16   26  18
FLHR1800 L    83  83   59   66  58  69   70  66
         M    89  82   81   79  91  86   98  80
         S    24  23   13   15  21  17   17  16
         XL   41  55   45   43  32  26   45  46
         XXL  22  26   17   15  16  24   11  12
HWLA4700 L    52  78   60   52  59  77   85  58
         M    91  82   85   79  64  86   83  93
         S    20  27   17   16  28  25   23  15
         XL   47  34   46   43  40  23   39  66
         XXL  29  14   22   17  18  25   24  17
LCHM9800 L    54  56   75   73  62  55   47  66
         M    74  84   75   75  92  94   58  83
         S    21  14   18   16  32  27   28  22
         XL   36  46   48   53  32  50   43  43
         XXL  18  19   19   14  26  14   20  24
PWDK9200 L    48  64   68   65  52  52   58  71
         M    97  76   91   80  80  87   69  80
         S    19  27   23   13  16  17   24  25
         XL   43  36   45   41  35  56   29  27
         XXL  18  30   17   18  20  32   25  23
QTVW5600 L    64  65   70   62  59  62   68  68
         M    67  69   89  102  80  81   84  99
         S    16  28   26   19  13  11   20  26
         XL   32  39   37   44  38  36   43  59
         XXL  23  24   17   21  20  12   26  16
UQNA9200 L    61  57   59   75  73  63   51  53
         M    86  94  103   76  79  73   89  91
         S    26  18   19   21  23  24   18  13
         XL   31  34   48   44  43  46   46  34
         XXL  28  23   28   27  15  29   11  18
VBOY1800 L    54  47   59   45  63  58   72  47
         M    93  86   82   74  87  77   78  74
         S    30  12   17   26  25  20   16  15
         XL   30  44   22   49  42  42   33  27
         XXL  17  13   24   29  12  18   26  20
XDQV5600 L    61  65   38   62  61  71   53  71
         M    87  69   76   90  94  87   81  85
         S    18  19   24   19  20  31   25  20
         XL   46  49   32   49  50  38   39  48
         XXL  23  17   20   19  15  28   24  20
XHQA3700 L    68  67   63   65  60  51   63  50
         M    93  96   82  107  74  77  100  90
         S    24  20   19   31  33  21   16  25
         XL   44  31   34   39  36  32   48  53
         XXL  23  14   22   12  18  20   32  25
YZFM1200 L    50  62   62   75  58  68   60  54
         M    84  97   88   84  70  80   75  72
         S    17  18   25   26  10  20   10  16
         XL   32  44   28   49  36  45   42  38
         XXL  18  14   20   13  24  20   21  16